<h2>Product List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th>Stock</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>${{ product.price }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.stock }}</td>
    <td><img [src]="product.image" width="50"></td>
    <td>
      <button (click)="deleteProduct(product._id)">Delete</button>
    </td>
  </tr>
</table>
    