<div class="center-container">
    <div class="login-card">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="sendOTP()">
        <div class="input-group">
          <label for="number">Phone Number</label>
          <input type="text" id="number" placeholder="Enter your registered phone number" [(ngModel)]="number" name="number" required />
        </div>
  
        <button type="submit" [disabled]="loading">Send OTP</button>
  
        <div class="loader-container" *ngIf="loading">
          <div class="loader"></div>
        </div>
      </form>
  
      <div *ngIf="showNotification" class="notification">
        {{ message }}
      </div>
    </div>
  </div>
  